# Data Exploration with Pandas

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/diamonds.csv')

In [3]:
type(df)

pandas.core.frame.DataFrame

#### Zo worden de eerste 5 records van de datasheet opgehaald en weergegeven.

In [4]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

### zo krijg ik een inzicht over alle aanwezige tabbelen en wat de datatypes zijn.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

### zo krijg ik een specifieke record op basis van de index. In mijn geval dus de record met ID-9 oftewel de 10e record in de dataset.

In [6]:
df.iloc[9]

carat           0.23
cut        Very Good
color              H
clarity          VS1
depth           59.4
table           61.0
price            338
x                4.0
y               4.05
z               2.39
Name: 9, dtype: object

### Sorteer ik op de 5 duurtste record

In [7]:
df.sort_values('price', ascending = False).head()

       carat        cut color clarity  depth  table  price     x     y     z
27749   2.29    Premium     I     VS2   60.8   60.0  18823  8.50  8.47  5.16
27748   2.00  Very Good     G     SI1   63.5   56.0  18818  7.90  7.97  5.04
27747   1.51      Ideal     G      IF   61.7   55.0  18806  7.37  7.41  4.56
27746   2.07      Ideal     G     SI2   62.5   55.0  18804  8.20  8.13  5.11
27745   2.00  Very Good     H     SI1   62.8   57.0  18803  7.95  8.00  5.01

### Zo weet ik wat de laagste waarde is van "carat" a.k.a karaat

In [8]:
df['carat'].min()

0.2

### Zo weet ik was de hoogste "carat" a.k.a karaat

In [9]:
df['carat'].max()

5.01

### gemiddele van de "carat" a.k.a karaat

In [10]:
df['carat'].median()

0.7

### ik groepeer hier de tabellen "carat" en "price"

In [11]:
mean_age_by_survived = df.groupby('carat')['price'].mean()
mean_age_by_survived

carat
0.20      365.166667
0.21      380.222222
0.22      391.400000
0.23      486.143345
0.24      505.185039
            ...
4.00    15984.000000
4.01    15223.000000
4.13    17329.000000
4.50    18531.000000
5.01    18018.000000
Name: price, Length: 273, dtype: float64